<div style="margin-left: 40%; margin-right: 40%;">
    <mat-card style="width:100%; height: 100%; display: flex; align-items: center">
        <mat-card-title style="color: white;">Login</mat-card-title>
        <mat-card-content style="margin-top: 2%;">
            <form style="width: 100%; text-align: center;">
                <p>
                    <mat-form-field>
                        <input type="text" 
                               matInput
                               id="username" 
                               placeholder="Username" 
                               class="form-control" 
                               name="username" 
                               required minlength="4"
                               [(ngModel)]="user.username"
                               #username="ngModel" 
                               >
                    </mat-form-field>
                </p>
                <p *ngIf="username.errors?.['required']" style="color: red;">
                    Username is required.
                </p>
                <p *ngIf="username.errors?.['minlength']" style="color: red;">
                    Username must be at least 4 characters long.
                </p>
                <p>
                    <mat-form-field>
                        <input type="password" 
                               matInput
                               id="password" 
                               placeholder="Password" 
                               [(ngModel)]="user.password"
                               class="form-control" 
                               name="password" 
                               required minlength="4"
                               #password="ngModel">
                    </mat-form-field>
                </p>
                <p *ngIf="password.errors?.['required']" style="color: red;">
                    Password is required.
                </p>
                <p *ngIf="password.errors?.['minlength']" style="color: red;">
                    Password must be at least 4 characters long.
                </p>
                <button mat-raised-button color="primary" (click)="onSubmit()">Login</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>
